<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Catalog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header id="navbar" class="navbar flex items-center">
      <div class="container">
        <div class="flex items-center justify-between">
          <a href="#" class="navbar__brand">
            <h2>Restaurant</h2>
          </a>
          <div class="navbar__menu flex gap">
            <a href="/" class="navbar__link">Home</a>
            <a href="#" class="navbar__link">Favorites</a>
            <a href="https://github.com" class="navbar__link">About Us</a>
          </div>
          <div class="navbar__burger"></div>
        </div>
      </div>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
