<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Catalog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <header id="navbar" class="navbar flex items-center">
        <div class="container">
          <div class="flex items-center justify-between">
            <a href="#" class="navbar-brand">Restowan</a>
            <div class="navbar-menu flex gap">
              <a href="/" class="navbar-link">Home</a>
              <a href="#" class="navbar-link">Favorites</a>
              <a href="https://github.com" class="navbar-link">About Us</a>
            </div>
            <div class="navbar-burger"></div>
          </div>
        </div>
      </header>
      <section class="container">
        <div class="hero">
          <div class="hero-container">
            <div class="hero-caption">
              <h1 class="hero-caption-title">Bingung Cari Restoran?</h1>
              <p class="hero-caption-text">
                Kami akan membantumu mencari restaurant terbaik untuk anda.
              </p>
              <button class="btn btn-primary">Mulai</button>
            </div>
            <img
              src="./images/heros/hero-image.webp"
              alt=""
              class="hero-image"
            />
          </div>
        </div>
      </section>
      <section class="section-list">
        <div class="container">
          <h2 class="section-title">Daftar Restoran</h2>
          <p class="section-text">
            Temukan restoran yang cocok dengan preferensi anda!
          </p>
          <ul class="restaurant-list">
            <li class="restaurant-card">
              <img
                src="https://restaurant-api.dicoding.dev/images/medium/41"
                alt=""
                class="restaurant-card-image"
              />
              <div class="restaurant-card-body">
                <h2 class="restaurant-card-name">Bring Your Phone Cafe</h2>
                <p class="restaurant-card-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet.
                </p>
                <div class="restaurant-card-detail">
                  <div>Medan</div>
                  <div>4.6 &starf;</div>
                </div>
                <div class="restaurant-card-buttons">
                  <button class="btn btn-secondary">Suka</button>
                </div>
              </div>
            </li>
            <li class="restaurant-card">
              <img
                src="https://restaurant-api.dicoding.dev/images/medium/41"
                alt=""
                class="restaurant-card-image"
              />
              <div class="restaurant-card-body">
                <h2 class="restaurant-card-name">Bring Your Phone Cafe</h2>
                <p class="restaurant-card-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet.
                </p>
                <div class="restaurant-card-detail">
                  <div>Medan</div>
                  <div>4.6 &starf;</div>
                </div>
                <div class="restaurant-card-buttons">
                  <button class="btn btn-secondary">Suka</button>
                </div>
              </div>
            </li>
            <li class="restaurant-card">
              <img
                src="https://restaurant-api.dicoding.dev/images/medium/41"
                alt=""
                class="restaurant-card-image"
              />
              <div class="restaurant-card-body">
                <h2 class="restaurant-card-name">Bring Your Phone Cafe</h2>
                <p class="restaurant-card-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet.
                </p>
                <div class="restaurant-card-detail">
                  <div>Medan</div>
                  <div>4.6 &starf;</div>
                </div>
                <div class="restaurant-card-buttons">
                  <button class="btn btn-secondary">Suka</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <footer></footer>
    </main>
  </body>
</html>
