* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #fefae0;
  color: #283618;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  min-height: 100vh;
}

a,
input,
button,
textarea {
  min-width: 44px;
  min-height: 44px;
}

a {
  color: inherit;
  display: flex;
  align-items: center;
}

a:visited {
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap {
  gap: 1.25rem;
}

.navbar {
  background-color: #fefae0;
  position: sticky;
  top: 0;
  height: 5rem;
  border-bottom: 2px solid #283618;
  z-index: 10;
}

.navbar-brand {
  font-family: 'Yeseva One', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-burger {
  display: none;
  border: 2px solid #283618;
  cursor: pointer;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  background-color: #fefae0;
}

.navbar-burger > span {
  width: 100%;
  height: 2px;
  background-color: #283618;
  margin: 2px 0;
}

.navbar-link {
  font-weight: 600;
}

.navbar::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.hero-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 36rem;
}

.hero-caption {
  position: absolute;
  top: 50%;
  left: 1.25rem;
  right: 1.25rem;
  transform: translateY(-50%);
  width: 50%;
  background-color: #fefae0bb;
  backdrop-filter: blur(10px);
  border: 2px solid #283618;
  padding: 2rem;
  margin: 0 1.25rem;
}

.hero-caption-title {
  margin-bottom: 1.25rem;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2em;
}

.hero-caption-text {
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.hero-image {
  border: 2px solid #283618;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  border: none;
  padding: 0 1.75rem;
  font-weight: 700;
  cursor: pointer;
}

.relative {
  position: relative;
}

.skip-button {
  position: absolute;
  top: 0;
}

.skip-button:focus {
  display: block;
}

.btn:focus {
  outline: 2px solid goldenrod;
}

.btn-primary {
  background-color: #283618;
  color: #fefae0 !important;
}

.btn-secondary {
  background-color: #fefae0;
  color: #283618;
  border: 2px solid #283618;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.25rem;
}

.restaurant-list > li {
  list-style: none;
}

.mb {
  margin-bottom: 1.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.restaurant-card {
  background-color: #fefae0;
  border: 2px solid #283618;
}

.restaurant-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #283618;
}

.restaurant-card-body {
  padding: 1.25rem;
  background-color: #fefae0;
  color: #283618;
}

.restaurant-card-name {
  margin-bottom: 0.25rem;
}

.restaurant-card-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.restaurant-card-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.restaurant-card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-list {
  border-top: 2px dashed #28361850;
  border-bottom: 2px dashed #28361850;
  padding: 2.5rem 0;
  /* scroll-snap-stop: normal; */
}

.scroll-margin {
  scroll-margin-top: 80px;
}

.section-title {
  margin-bottom: 0.25rem;
}

.section-text {
  margin-bottom: 1.25rem;
}

.footer {
  background-color: #283618;
  color: #fefae0;
  padding: 2.5rem 0;
  font-weight: 400;
  margin-top: auto;
}

.footer-brand {
  max-width: 30%;
}

.footer-title {
  font-family: 'Yeseva One', sans-serif;
  margin-bottom: 0.25rem;
}

.footer-details {
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.copyright {
  background-color: #19220f;
  color: #fefae0;
  text-align: center;
  padding: 1rem 0;
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}
.detail-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.detail-image {
  max-width: 24rem;
  height: 75vh;
  object-fit: cover;
  border: 2px solid #283618;
}

.detail-container {
  flex-grow: 1;
  border: 2px solid #283618;
}

.p-2 {
  padding: 2em;
}

.border-bottom-dashed {
  border-bottom: 2px dashed #28361850;
}

.detail-rating {
  background-color: #283618;
  color: #fefae0;
  padding: 0.75rem 1.25rem;
}

.detail-categories {
  display: flex;
  margin: 1em 0;
  font-size: 0.75em;
}

.detail-category {
  border: 2px solid #283618;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  margin-right: 0.5rem;
}

.detail-description {
  font-size: 0.9em;
}

.restaurant-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  font-size: 0.9em;
}

.restaurant-menu-subtitle {
  margin-bottom: 0.5em;
}

.restaurant-menu-item {
  border: 2px solid #283618;
  padding: 0.75rem;
}

.customer-reviews {
  display: flex;
  flex-direction: column;
}

.customer-review {
  border: 2px solid #283618;
  justify-content: space-between;
  padding: 0.75rem;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.section-padding {
  padding: 2.5rem 0;
}

@media (min-width: 1200px) {
  .hero-container {
    margin: 1.25rem auto;
    padding: 0 1.25rem;
  }
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: #283618ee;
    backdrop-filter: blur(10px);
    padding: 1.25rem;
  }

  .navbar-menu > .navbar-link {
    color: #fefae0 !important;
  }

  .navbar-burger {
    display: flex !important;
  }

  .hero-caption {
    width: auto !important;
    margin: 0;
  }

  .footer-container {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-details {
    width: 100%;
  }

  .hero-container {
    height: calc(100vh - 12rem);
  }

  .detail-wrapper {
    flex-direction: column;
  }

  .detail-image {
    height: 25vh;
  }

  .detail-left-detail {
    flex-direction: column;
  }

  .detail-right-detail {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .detail-favorite {
    width: 100%;
  }
}
